/* header img {
    width: 35px;
    height: 25px;
} */  
 body {
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .nav2 img{
    width: 15px;
    height: 15px;
 }
 .nav2{
    display: flex;
    align-items: center;
 }
 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-bottom: 100px;
    border-width: 100px;
    border: 3em;
 } 
 .crown  img{
    width: 17px;
    height: 17px;
 }

 .flex {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .flex .space-between {
   justify-content: space-between;
 }

 .m-left-3 {
   margin-left: 3em;
 }

 .logo {
   width: 7em;
   height: 2em;
 }

 .pointer {
   cursor: pointer;
 }

 .center {
   /* display: flex; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .text-large {
   font-size: 40px;
 }

 .color-blue {
   color: blue;
 }

 .color-white {
   color: white;
 }

 .underline {
   text-decoration: underline;
   /* color: black; */
   text-decoration-color: black;
 }

 .background-blue {
   background-color: blue;
 }

 .button-p {
   padding: 1.5em 8em;  
   border: none;
   border-radius: 10px;
 }

 .box{
  background-color: rgb(178, 187, 187);
  width: 80%;
  border-radius: 10px;
  margin: 0px 10%;
  padding-top: 80px;
  padding-bottom: 80px;
 
 }
.heroText,
.p{
  display: flex;
  justify-content: center;
  align-items: center;
}

 .sideText{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500px;
 }
 .secondBox{
  display: grid;
  text-wrap: inherit;
  
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 50px; */
  margin-left: 20px;
  margin-bottom: 40px;
  gap: 20px;
 }
 .sbox{
  border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 .sbox2{
   border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 .sbox3{
   border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 .sbox4{
   border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 .sbox5{
   border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 .sbox6{
   border: 0.2px solid rgb(77, 75, 67);
  padding: 5px;
  border-radius: 10px;
 }
 /* .lastButton{
  background-color: rgb(53, 0, 128);
  border-radius: 30px;
 } */
  .lastText{
    display: flex;
    justify-content: space-between;
    margin-top: 35px ;
    margin-left: 30px;
    margin-right: 30px;

  }